#newsletter-button {
    float: left;
    background-color: #B40001;
}

#newsletter-img {
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right: 7px;
    float: left;
}

#newsletter-title {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    vertical-align: middle;
}

#newsletter-title-div {
    margin-top: 5px;
    margin-right: 8px;
    float: right
}

#share-bar {
    background-color: #4F5962;
    margin-left: 8px
}

.navbar .nav .share-a {
    padding: 5px 6px;
}

#search-bar {
    float: left;
}

#search-div {
    background-color: #ffffff;
    margin-left: 10px;
}

#search-img {
    margin: 7px 5px 7px 8px;
}

#search-input {
    vertical-align: middle;
    border-style: none;
    border-radius: 0;
    padding: 0;
    margin: 0 7px 0 0;
    width: 150px
}

#search-button {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    vertical-align: middle;
    line-height: 10px;
}

#search-button-div {
    display: inline-block;
    background-color: #4F5962;
    padding: 6px 12px 7px;
}

#menu-nav-div {
    /*float: right;*/
    background-color: #ffffff;
}

#menu-nav {
    margin-right: 0;
    background-color: #ffffff;
}

#menu-nav > li > a {
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    color: #4F5962;
}

#menu-nav > li > #menu-registration {
    background-color: #B40001;
    color: #ffffff;
}

#menu-nav > li > #menu-home {
    background-color: #4F5962;
    color: #ffffff;
}

.section-title {
    float: left;
    padding-left: 7px
}

.section-button {
    float: right;
    background-color: #B40001;
    padding: 10px;
}

.section-button-a {
    color: #ffffff
}

.presentation {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.presentation-title {
    color: #4F5961;
    text-align: center;
}

#speaker {
    background-color: #4F5962;
}

.speaker-title {
    color: #FFFFFF;
}

.speaker-name {
    text-align: center;
    color: #ffffff;
    background-color: #B40001;
    margin-bottom: 0;
    padding: 2px
}

.speaker-job {
    background-color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding: 2px
}

.latest-news-title {
    color: #B40001;
}

.latest-news-card {
    background-color: #ffffff;
}

.latest-news-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    height: 240px;
}

.latest-news-date {
    color: #B40001;
    font-size: 11px
}

.latest-news-slide-control {
    margin: auto;
    text-align: center
}

.parthers-title {
    color: #4F5962;
}

.hr {
    border-color: #EBEBEB;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

body {
    background-color: #F4F4F4;
}
